* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body  {
    background: linear-gradient(45deg, #4b6cb7, #182848);
    animation: gradient 10s ease infinite;
    background-size: 500% 500%;
    font-family: "Open Sans", sans-serif;
  }
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  html, body {
    height: 100%;
  }
  .search {
    font-size: 25px;
    color: #edae01;
  }
  
  .movie__cover-inner{
    /* border: 5px solid black; */
    border-radius: 5px;
  }
  
  .favourite {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    color: #af4425;
    background-color: #ffd80e;
    /* text-transform: uppercase; */
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.1s linear, coolor 0.1s linear;
  }
  
  .main-information {
    margin: 0 auto;
  }
  
  .head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .head-logotip {
    font-size: 32px;
    text-decoration: none;
    color: #edae01;
  }
  
  .head-discover {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie {
    width: 240px;
    margin: 10px;
    position: relative;
  }
 
  .movie__cover-inner {
    position: relative;
    height: 360px;
    background-color: white;
  }
  
  .movie__cover {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  
  
  
  .movie__cover:hover {
    
    opacity: 0.9;
    cursor: pointer;
  }
  
  .movie__info {
    padding: 10px 0px;
  }
  
  .movie__title {
    font-size: 16px;
    color: #ffffff;
  }
  
  .movie__category {
    font-size: 14px;
    color: #ffd80e;
  }
  
  .movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
  }

  .movie__average--green {
    border: 1px solid green;
  }

  .movie__average--orange {
    border: 1px solid orange;
  }

  .movie__average--red {
    border: 1px solid red;
  }
  
  .bot {
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }
  
  .bot-btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    color: #af4425;
    background-color: #ffd80e;
    /* text-transform: uppercase; */
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.1s linear, coolor 0.1s linear;
  }
  
  .movies.favourite-open{
    display: flex;
    flex-wrap: wrap; 
  }

  .favorite-chk{
    position: absolute;
    right: 0;
    left: 100;
    bottom:0;
    top: 0;
    border: 5px solid #000000;
    width: 36px;
    height: 36px;
  }
 .film-info{
  background: linear-gradient(45deg, #2980b9, #2c3e50);
    animation: gradient 10s ease infinite;
    background-size: 500% 500%;
    font-family: "Open Sans", sans-serif;
    color: #ffd80e;
    width: 100%;
    height: 100%;
 }
  .film-info-content{
    
    display: flex;
  }
  .film-info-text{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .film-info-p{
    margin-top: 10px;
  }

  .similars{
    text-align: center;
  }
  .similars-cover{
    position: absolute;
    background: rgba(0, 0, 0, 0.226) ;
    width: 100%;
    height: 100%;
  }


